@model tockoteka.Models.ViewModels.BlogVM
@{
    ViewData["Title"] = "Create";
}

<h4>Форма за создавање на блог </h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Blog.Title" class="control-label"></label>
                <input asp-for="@Model.Blog.Title" class="form-control" />
                <span asp-validation-for="@Model.Blog.Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Blog.Description" class="control-label"></label>
                <textarea asp-for="@Model.Blog.Description" class="form-control"> </textarea>
                <span asp-validation-for="@Model.Blog.Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Blog.Content" class="control-label"></label>
                <textarea asp-for="@Model.Blog.Content" id="summernote" class="form-control"> </textarea>
                <span asp-validation-for="@Model.Blog.Content" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Blog.Cover" class="control-label"></label>
                <input asp-for="@Model.Blog.Cover" class="form-control" />
                <span asp-validation-for="@Model.Blog.Cover" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Blog.BlogCategory" class="control-label"></label>
                <select asp-for="@Model.Blog.CategoryId" asp-items="@Model.CategorySelectList" class="form-control">
                    <option disabled selected>--Одбери категорија--</option>
                </select>
                <span asp-validation-for="@Model.Blog.CategoryId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <a asp-action="Index" class="btn btn-outline-secondary pl-3 pr-3">Откажи</a>
                <input type="submit" value="Додади" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#summernote').summernote({
                placeholder: 'Започнете со пишување на содржината',
                //tabsize: 2,
                height: 320,
                focus: true
            });
        });
    </script>
}