@model tockoteka.Models.Blog

@{
    ViewData["Title"] = "Delete";
}

<h3>Дали сте сигурни дека сакате да го избришете овој блог?</h3>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Model.Content)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Model.Author)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cover)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cover)
            <img src="@WC.BlogImagePath@Model.Cover" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BlogCategory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BlogCategory.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a asp-route-id="@Model.Id" asp-action="Details" class="btn btn-outline-secondary">Откажи</a>
        <input type="submit" value="Избриши" class="btn btn-danger" />
    </form>
</div>
