@using System.Globalization
@model tockoteka.Models.ViewModels.BlogVM

@{
    ViewData["Title"] = "Edit";
}

<h4>Форма за промена на блог </h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Edit" method="post">
            <input asp-for="Blog.Id" hidden />
            <div class="form-group">
                <label asp-for="Blog.Title" class="control-label"></label>
                <input asp-for="Blog.Title" class="form-control" />
                <span asp-validation-for="Blog.Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Blog.Description" class="control-label"></label>
                <textarea asp-for="Blog.Description" class="form-control"> </textarea>
                <span asp-validation-for="Blog.Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Blog.Content" class="control-label"></label>
                <textarea id="summernote" asp-for="Blog.Content" class="form-control"> </textarea>
                <span asp-validation-for="Blog.Content" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Blog.Cover" class="control-label"></label>
                <input asp-for="Blog.Cover" class="form-control" />
                <span asp-validation-for="Blog.Cover" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Blog.BlogCategory" class="control-label"></label>
                <select asp-for="Blog.CategoryId" asp-items="@Model.CategorySelectList" class="form-control">
                    <option disabled selected>--Одбери категорија--</option>
                </select>
                <span asp-validation-for="Blog.CategoryId" class="text-danger"></span>
            </div>

            @*date hidden*@
            <div class="form-group" hidden>
                <label asp-for="@Model.Blog.Date" class="control-label"></label>
                <input type="datetime" asp-for="@Model.Blog.Date" class="form-control" value="Последна промена на @DateTime.Today.ToString("dd MMMM yyyy", new CultureInfo("mk-MK"))" />
                <span asp-validation-for="@Model.Blog.Date" class="text-danger"></span>
            </div>

            <div class="form-group">
                <a asp-route-id="@Model.Blog.Id" asp-action="Details" class="btn btn-outline-secondary">Назад</a>
                <input type="submit" value="Зачувај" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>

</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />

    }
    <script>
        $(document).ready(function () {
            $('#summernote').summernote({
                placeholder: 'Започнете со пишување на содржината',
                //tabsize: 2,
                height: 320,
                focus: true
            });
        });
    </script>
}

